* {
    margin: 0vh;
    padding: 0vh;
    font-family: 'Noto Serif Old Uyghur', serif;;
}

:root {
    --light: rgb(219, 255, 255);
    --medium: rgb(176, 210, 255);
    --dark: rgb(115, 122, 189);
}

body {
    background-color: var(--medium);
}


header {
    background-color: var(--light);
    color: var(--dark);
    padding: 7px;
    text-align: center;
}

section {
    border: solid var(--dark) 5px;
    width: 24vh;
    margin: 3vh;
}

form h2 {
    background-color: var(--dark);
    color: var(--light);
    width: 20vh;
    margin: 1vh;
    padding: 7px;
}

button {
    background-color: var(--dark);
    color: var(--light);
    margin: 1vh;
    padding: 5px;
}

form input {
    margin: 1vh;
}